.chef-border {
  box-shadow: 0px 4px 50px 18px rgba(197, 67, 0, 0.4);
}

.card {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}
.cardValue {
  text-shadow: 0px 4px 10px rgba(197, 67, 0, 0.25),
    0px 4px 100px rgba(66, 48, 37, 0.25);
}
.strengthHeader {
  text-shadow: 0px 4px 10px rgba(197, 67, 0, 0.25),
    0px 4px 100px rgba(66, 48, 37, 0.25);
}
.strengthImage {
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.dotLocation {
  box-shadow: 0px 0px 18px 2.4px rgba(197, 67, 0, 0.5);
}
