.marquee {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee-right .marquee-track {
  animation-direction: reverse;
}

.marquee-track {
  display: flex;
  width: max-content;
  gap:30px;
  animation: scroll-left 25s linear infinite;
  
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
